html, body {
    width: 530px;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-track-piece {
    background-color: skyblue;
}

::-webkit-scrollbar-thumb {
    background-color: cornflowerblue;
}

button {
    padding: 0.8125em 1.5em 0.75em 1.5em;
    margin: 0.5em 0.5em 0.5em 0;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
    border: solid 0 #238896;
    cursor: pointer;
    font-weight: bold;
    background-color: #2daebf;
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: 2s infinite;
    animation: 2s infinite;
}

.bluePulse {
    -webkit-animation-name: bluePulse;
    animation-name: bluePulse;
}

.bluePulse:hover {
    background-color: #2daebf;
    -webkit-box-shadow: 0 0 18px #2daebf;
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes bluePulse {
    from {
        background-color: #007d9a;
        -webkit-box-shadow: 0 0 9px #333;
    }
    50% {
        background-color: #2daebf;
        -webkit-box-shadow: 0 0 18px #2daebf;
    }
    to {
        background-color: #007d9a;
        -webkit-box-shadow: 0 0 9px #333;
    }
}

#info {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 5px 0;
}

#user {
    text-align: center;
    width: 100px;
}

#head {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

#username {
    color: white;
    font-weight: bold;
}

#level {
    color: white;
}

#sign {
    text-decoration: underline;
    cursor: pointer;
    color: #007d9a;
}

#sign:hover {
    color: #2daebf;
}

#website {
    display: -webkit-flex;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#link button:last-child {
    margin-right: 0;
}

#search {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 36px;
    width: 96%;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: text;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

#search_icon {
    width: 24px;
    height: 24px;
    fill: white;
}

#search_input {
    width: 360px;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    color: whitesmoke;
}

#list {
    overflow-y: auto;
    max-height: 277px;
}

.item {
    background-color: rgb(0, 62, 90);
    color: white;
    line-height: 50px;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.item:hover {
    background-color: rgb(0, 175, 230);
    color: white;
}

.item_image {
    width: 57px;
    height: 76px;
}

.item_title {
    max-width: 300px;
    padding-left: 8px;
    width: 250px;
    text-align: center;
}

.item_updated {
    width: 70px;
}

.item_next {
    padding-right: 8px;
    width: 110px;
    text-align: right;
}

.today_date {
    padding-left: 8px;
    font-size: 18px;
}

.today_show {
    margin-left: 16px;
    line-height: 24px;
    cursor: pointer;
    float: left;
    -webkit-transition: ease-out 0.5s;
    transition: ease-out 0.5s;
}

.today_show:hover {
    text-decoration: underline;
    background-color: skyblue;
}
